<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.colea.tbg_creator_larsen.GameObjects">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.PlayerInfo"
            android:label="@string/title_activity_player_info"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.Combat" />
        <activity android:name=".Activities.TestActivity" />
        <activity android:name=".Activities.Trading" />
        <activity android:name=".Activities.Conversation" />
        <activity android:name=".Activities.EnemyDropScreen" />
        <activity android:name=".Editing.EditMain" />
        <activity android:name=".Editing.StateEditing"></activity>
    </application>

</manifest>