<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.colea.tbg_creator_larsen.GameObjects">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/venture"
        android:label="@string/app_name"
        android:roundIcon="@drawable/venture"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.PlayerInfo"
            android:label="@string/title_activity_player_info"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.Combat" />
        <activity android:name=".Activities.TestActivity" />
        <activity android:name=".Activities.Trading" />
        <activity android:name=".Activities.Conversation" />
        <activity android:name=".Activities.EnemyDropScreen" />
        <activity android:name=".Editing.EditMain" />
        <activity android:name=".Editing.StateEditing" />
        <activity android:name=".Editing.NormalTransitionEditing" />
        <activity android:name=".Editing.CombatTransitionEditing" />
        <activity android:name=".Editing.ItemTransitionEditing" />
        <activity android:name=".Editing.ConvoTransitionEditing" />
        <activity android:name=".Editing.OneTimeTransitionEditing" />
        <activity android:name=".Editing.RandomTransition1Editing" />
        <activity android:name=".Editing.RandomTransition2Editing" />
        <activity android:name=".Editing.RandomTransition3Editing" />
        <activity android:name=".Editing.SwitchLeverTransitionEditing" />
        <activity android:name=".Editing.PlayerEditing" />
        <activity android:name=".Editing.ItemEditing" />
        <activity android:name=".Editing.WeaponEditing" />
        <activity android:name=".Editing.EquipmentEditing" />
        <activity android:name=".Editing.DamagingEffectEditing" />
        <activity android:name=".Editing.DefenceEffectEditing" />
        <activity android:name=".Editing.HealingEffectEditing" />
        <activity android:name=".Editing.ConditionalSwitchEditing" />
        <activity android:name=".Editing.ConditionalHasObjectEdit" />
        <activity android:name=".Editing.ConditionalHasSpellEditing" />
        <activity android:name=".Editing.EnemyEditing" />
        <activity android:name=".Editing.NpcEditing" />
        <activity android:name=".Editing.ConversationStateEditing" />
        <activity android:name=".Editing.ChangeBaseConvoStateTransitionEditing" />
        <activity android:name=".Editing.NormalConversationTransitionEditing"></activity>
    </application>

</manifest>